body div.theme button.btn-theme {
    background-color: #ff9f22 !important;
    border-color: #ff9f22 !important;
}

aside li button:hover,
aside li ul a:hover {
    background-color: #ff9f221e !important;
}

aside li button:focus,
aside li ul a:focus {
    background-color: #ff9f221e !important;
}

aside li button:focus {
    box-shadow: 0 0 0 1px #ff9f22 !important;

}

.exp {
    list-style: none;
}

.exp-img {
    display: flex;
    justify-content: left;
    align-items: center;
}

#experience ul {
    gap: 20px !important;
    text-align: center;
}

.intro {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.445), 0 1px 1px rgba(255, 255, 255, 0.178) !important;
    animation: lightning 5.5s ease-in-out infinite;
    transition: 0.5s ease-in;
}

.intro span {
    text-shadow: none;
}

.cover-container {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.445), 0 1px 1px rgba(255, 255, 255, 0.178) !important;
    animation: lightning 5.5s ease-in-out infinite;
}

@keyframes lightning {
    0% {
        text-shadow: 0 0 0 rgba(255, 255, 255, 0.445), 0 0 0 rgba(255, 255, 255, 0.178) !important;
    }

    100% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.445);
    }
}

a.link-redirect {
    text-decoration: none !important;
    color: black;
    transition: 0.3s ease-in-out;
}

.btn-redirect {
    transition: 0.3s ease-in-out;
}

.btn-redirect:hover {
    background-color: white !important;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.445), 0 10px 10px rgba(0, 0, 0, 0.178) !important;
}

.card {
    transition: 0.3s ease-in-out;
    box-shadow: 0 px 5px rgb(0, 0, 0) !important;

}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 10px rgb(0, 0, 0) !important;
}